body.bp {
	background-color: $page-bg;
	
	#container {
		background-image: url("/images/bg.png");
	}
	
	#header {
		background-color: $primary-bg;
		#welcome-user {
			margin-left: 20px;
		}
		.header-logo{ margin: 20px; }
		.header-text{ 
			margin-top: 40px;
			margin-right: 40px;
			float: right;
		}
		#nav {
			margin-left:10px;
			font-size: 18px;
			a {text-decoration: none;}
			ul.nav{
				@include horizontal-list-container;
				li {
					@include horizontal-list-item;
					width: 100px;
					padding: 10px 0px 0px 0px;
					margin: 0px 15px;
					text-align: center;
					@include border-top-radius(8px);
				}
				li.current {
					width: 100px;
					background-image: url("/images/bg.png");
					padding: 10px;
					text-align: center;
				}
			}			
		}
	}
	
	#content {
		width: 650px;
		margin: 20px;
	}
	
	#sidebar {
		float: right;
		width: 230px;
		margin-right: 20px;
		//margin-top: 200px;
	}
}