<div id="content">
  <% if @winner %>
    <h2>#censoredtweet of the day</h2>
    <%= render :partial => "winners/show", %>

    <hr />
  <% end -%>

  <h2>current top #censoredtweet</h2>

  <%= render @tweets %>
</div>

<div id="sidebar">
  <%= image_tag 'side-2.png', :class=>'sidebar-2' %>
</div>