<div id="content">
  <% if @winner %>
    <h1>YESTREDAYS WINNER</h1>
    <%= render :partial => "winners/show", %>

    <hr />
  <% end -%>

  <h1>Best Censored Tweets</h1>

  <%= render @tweets %>
</div>

<div id="sidebar">
  the sidebar is here
</div>