<div id="content">
  <% if @winner %>
    <h2><span>#censoredtweet of the day</span></h2>
    <%= render :partial => "winners/show", %>

    <hr />
  <% end -%>

  <div class="tweets">
    <h2><span>current top #censoredtweet</span></h2>
    <%= render @tweets %>
  </div>
</div>

<div id="sidebar">
  <%= image_tag 'side-2.png', :class=>'sidebar-2' %>
</div>