<% if current_user %>  
  Welcome, <%= current_user.name %>!  
<% else %>  
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>  
<% end %>


<h1>Newest Censored Tweets</h1>

<%= render @tweets %>

