<!DOCTYPE html>
<html>
<head>
  <title>CensoredTweets</title>

	<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag :defaults %>

  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<script type="text/javascript">
	<%= yield :javascript %>
</script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</body>
</html>
