<!DOCTYPE html>
<html>
<head>
  <title>CensoredTweets</title>
	<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag :defaults, "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<script type="text/javascript">
	<%= yield :javascript %>
</script>
</body>
</html>
